<h1>Tools Index</h1>

<% @tools.each do |tool| %>
  <div>
    <%= link_to tool.name, tool_path(tool) %>
    | Quantity: <%= tool.quantity %>
    | Price: <%= tool.price %>
  </div>
<% end %>

<%= link_to "Tool Index", tools_path %>
